html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
}

main {
    flex-grow: 1;
    padding: 80px 12px 12px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C033A;
    color: #7F7184;
    padding: 1rem 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #7D4B8F;
}

/* Brand */
header h3 {
    font-size: 28px;
    color: #9D00D5;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
}

/* Navbar */
.nav-bar {
    display: flex;
    gap: 1.5rem;
    font-size: 18px;
}

/* Navbar links */
.nav-bar a {
    text-decoration: none;
    color: #7D4B8F;
    padding: 8px 12px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

/* Hover effect */
.nav-bar a:hover {
    color: #9D00D5;
    background-color: rgba(157, 0, 213, 0.1);
    transform: translateY(-2px);
}

.profile {
    font-size: 24px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

footer {
background-color: #2C033A;
color: #8C98A5;
padding: 40px 10%;
border-top: 3px solid #9D00D5;
font-size: 16px;
margin-top: 10px;
}

.footer-container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap: 20px;
}

.footer-container div {
flex: 1;
min-width: 200px;
}

.footer-container h4 {
font-size: 18px;
color: #9D00D5;
margin-bottom: 12px;
}

/* Footer links and social media */
.footer-links a,
.footer-social a {
display: flex;
align-items: center;
gap: 8px;
text-decoration: none;
color: #7F7184;
transition: all 0.3s ease-in-out;
margin-bottom: 8px;
}

.footer-links a:hover,
.footer-social a:hover {
color: #9D00D5;
transform: translateX(5px);
}

/* Social icons */
.footer-social i {
font-size: 18px;
color: #7F7184;
transition: color 0.3s ease-in-out;
}

.footer-social a:hover i {
color: #9D00D5;
}

/* Contact info */
.footer-contact p {
margin: 5px 0;
}

.footer-bottom {
text-align: center;
margin-top: 20px;
padding-top: 10px;
border-top: 1px solid #9D00D5;
}
.footer-bottom p {
color: #7F7184;
font-size: 14px;
}

@media (max-width: 768px) {
.footer-container {
    flex-direction: column;
    text-align: center;
}

.footer-links, .footer-social, .footer-contact {
    margin-bottom: 15px;
}

.footer-links a, .footer-social a {
    justify-content: center;
}
}

/* Cart Section*/
@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}